<launch>
  <arg name="video_device" default="/dev/video0" />
  <arg name="camera_frame" default="camera_optical_frame" />
  <arg name="calibration_file" default="$(find camera_manager)/config/ost.yaml" />
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="$(arg camera_frame)" />
    <param name="camera_info_url" value="file://$(arg calibration_file)" />
  </node>
</launch>
