<launch>
  <!-- 启动 usb_cam 节点 -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <!-- 设备编号 -->
    <param name="video_device" value="/dev/video0" />
    <!-- 图像参数 -->
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_link" />
    <!-- 加载内参 -->
    <param name="camera_info_url" value="file://$(find camera_manager)/config/ost.yaml"/>
  </node>
</launch>
